.answer_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}